In [78]:
import pandas as pd

In [104]:
data_path="merged_transcripts3.csv"
df = pd.read_csv(data_path)

In [105]:
df.head(4)

    Speaker                                           Dialogue
0    Monica  There's nothing to tell! He's just some guy I ...
1      Joey  C'mon, you're going out with the guy! There's ...
2  Chandler  All right Joey, be nice. So does he have a hum...
3    Phoebe                           Wait, does he eat chalk?

In [193]:
df['Speaker'].value_counts().head(6)

Speaker
Rachel      9466
Ross        9254
Monica      8569
Chandler    8563
Joey        8319
Phoebe      7651
Name: count, dtype: int64

In [107]:
pd.reset_option('display.max_rows', None)


df['Speaker'].value_counts()[120:130]

Speaker
Jade         16
Teacher      16
Tom          15
Rob          15
Wendy        15
Matt         15
Megan        15
Stephanie    15
Jason        15
Mischa       14
Name: count, dtype: int64

In [110]:
pd.reset_option('display.max_rows', None)
df[df['Speaker']== 'Russ']

Empty DataFrame
Columns: [Speaker, Dialogue]
Index: []

In [153]:
df['Speaker'] = df['Speaker'].replace(
    { 
    'Leslie': 'Michelle',
    'Mindy': 'Phoebe',
    'Phoe' :'Phoebe',
    'Rach' : 'Rachel',
    'Susie' : 'Rachel',
    'Jennifer' : 'Rachel', 
    'Bonnie' : 'Christine',
    'Russ'  : 'Ross',
    'Mnca'  : 'Monica'
    }
)

In [186]:
df = df[df['Speaker'] != 'All']

In [181]:

df['Speaker'] = df['Speaker'].replace( {
    'Terry' : 'Gunther',
    'Roger' : 'Gunther',
    'Lauren' : 'Gunther',
     'Lydia' : 'Paolo',
     'Chan' : 'Chandler',
     'Steve' : 'Robert',
     'Doug' : 'Robert'

}
)


all
parker
lennart
kristen
Sandy
earl

In [200]:
df[df['Speaker'] == 'Earl']

      Speaker                                           Dialogue
43418    Earl                            I don’t need any toner.
43420    Earl                                            Not me.
43422    Earl            You wanna know why. You wanna know why?
43424    Earl  Okay, I don’t need any toner because I’m going...
43426    Earl   Okay, so…no toner today. Thanks anyway, bye-bye.
43428    Earl  Well…I only have one thing to do today. I gues...
43430    Earl  It’s just that I uh, have been working for ten...
43432    Earl                                       I-I’m sorry?
43434    Earl  Oh yeah? I work in a cubicle surrounded by peo...
43477    Earl  No! That’s just the "Hey Guy" guy. He says tha...
43479    Earl                                       Yeah! Right!
43481    Earl                                             Oh no.
43484    Earl  Okay, I should, I should probably be getting b...
43546    Earl                                 I’m right here!!!!
43548    Earl                  Phoebe? The lady who sells toner?
43550    Earl     Look, um I really appreciate your coming down…
43552    Earl                                              Why?!
43554    Earl                            I thought it was toner.
43556    Earl                                           Really?!
43558    Earl                                               How?
43560    Earl                 Couldn’t it just be a coincidence?
43562    Earl     It doesn’t really seem like enough to be fate.
43564    Earl                   I’m actually the office manager.
43566    Earl                    Well, was there anything else?!
43568    Earl                                      Philadelphia.
43570    Earl                                            Really?
43572    Earl                                         Yeah-yeah.
43574    Earl  Did you hear that?! I don’t need you guys to c...
43576    Earl                                              Yeah.

In [ ]:
rtst
grandmother
doctor
tommy
katie 
policeman
russ = Ross
laura 
fbob
mindy  = Phoe = Phoebe
interviewer
lauren =gunter = roger = terry
minister
girl
lydia =paolo

In [ ]:
# Woman
Janine
Mnca
Rach = susie = jennifer 
Nurse
Guy
Director
Danny
Chan
Man
Waiter
receptionist
Steve   (Jon Favreau) = Doug = robert
Christine = bonnie
all
parker
lennart
kristen
Sandy
earl

In [194]:
df.to_csv("merged_transcripts4.csv")

In [195]:
# First, get the counts of each value in the 'Speaker' column
speaker_counts = df['Speaker'].value_counts()

# Filter the DataFrame to keep only those 'Speaker' values with counts 16 or greater
df_filtered = df[df['Speaker'].isin(speaker_counts[speaker_counts >= 16].index)]

# Display the filtered DataFrame
df_filtered

        Speaker                                           Dialogue
0        Monica  There's nothing to tell! He's just some guy I ...
1          Joey  C'mon, you're going out with the guy! There's ...
2      Chandler  All right Joey, be nice. So does he have a hum...
3        Phoebe                           Wait, does he eat chalk?
4        Phoebe  Just, 'cause, I don't want her to go through w...
...         ...                                                ...
59217      Ross  I think I know too but I've been really wrong ...
59218      Ross                       I'm sorry... we... we can't.
59219   Charlie                              All right, all right.
59220      Ross  I mean, you just went out with my best friend,...
59221    Rachel  What? End Homo ergaster: Some scientists class...

[57350 rows x 2 columns]

In [196]:
df_filtered.to_csv('merged_transcripts5.csv')

In [25]:
df['Speaker'] = df['Speaker'].str.lower()

In [198]:
df['Speaker'].value_counts().head(15)

Speaker
Rachel      9466
Ross        9254
Monica      8569
Chandler    8563
Joey        8319
Phoebe      7651
Mike         360
Richard      256
Janice       216
Gunther      202
Emily        202
Carol        193
Charlie      190
Frank        146
Tag          146
Name: count, dtype: int64

In [28]:
df['Speaker'] = df['Speaker'].str.capitalize()

In [34]:
df['Speaker'].value_counts().head(34)

Speaker
Rachel       9335
Ross         9231
Chandler     8506
Monica       8482
Joey         8319
Phoebe       7567
Mike          360
Richard       256
Janice        216
Emily         202
Carol         193
Charlie       190
Tag           146
Frank         146
David         137
Paul          133
Gunther       133
Amy           119
Woman         112
Susan         105
Pete          103
Joshua         98
Gary           96
Eric           95
Elizabeth      94
Janine         92
Mona           92
Erica          92
Kathy          91
Mnca           87
Ursula         85
Jill           83
Rach           80
Ben            77
Name: count, dtype: int64

In [30]:
df['Speaker'].value_counts().tail(10)

Speaker
Cowgirl           1
Alex              1
Allison           1
Locksmith         1
Commercial        1
Narrator          1
Attendant         1
Boy               1
Emma              1
Paleontologist    1
Name: count, dtype: int64

In [33]:
df.to_csv("merged_transcripts3.csv", index=False)

In [7]:
character_models = {
        "Rachel": "nitish-11/friends_Rachel_trained_Llama-3-8B",
        "Ross": "nitish-11/friends_Ross_trained2_Llama-3-8B",
        "Chandler": "nitish-11/friends_Chandler_trained_Llama-3-8B",
        "Monica": "nitish-11/friends_Monica_trained_Llama-3-8B",
        "Joey": "nitish-11/friends_Joey_trained_Llama-3-8B",
        "Phoebe" : "nitish-11/friends_Phoebe_trained_Llama-3-8B"
        }

In [6]:
print(character_models.keys())

dict_keys(['Rachel', 'Ross', 'Chandler', 'Monica', 'Joey', 'Phoebe'])