In [2]:
import pandas as pd

In [23]:
data_path="merged_transcripts3.csv"
df = pd.read_csv(data_path)

In [24]:
df.head(4)

    Speaker                                           Dialogue
0    Monica  There's nothing to tell! He's just some guy I ...
1      Joey  C'mon, you're going out with the guy! There's ...
2  Chandler  All right Joey, be nice. So does he have a hum...
3    Phoebe                           Wait, does he eat chalk?

In [25]:
df['Speaker'].value_counts()

Speaker
Rachel            9335
Ross              9231
Chandler          8505
Monica            8481
Joey              8319
                  ...
Referee              1
Fireman              1
Anchorwoman          1
Employee             1
Paleontologist       1
Name: count, Length: 395, dtype: int64

In [26]:
df['Speaker'] = df['Speaker'].str.lower()

In [27]:
df['Speaker'].value_counts()

Speaker
rachel            9335
ross              9231
chandler          8506
monica            8482
joey              8319
                  ...
narrator             1
attendant            1
boy                  1
emma                 1
paleontologist       1
Name: count, Length: 364, dtype: int64

In [28]:
df['Speaker'] = df['Speaker'].str.capitalize()

In [34]:
df['Speaker'].value_counts().head(34)

Speaker
Rachel       9335
Ross         9231
Chandler     8506
Monica       8482
Joey         8319
Phoebe       7567
Mike          360
Richard       256
Janice        216
Emily         202
Carol         193
Charlie       190
Tag           146
Frank         146
David         137
Paul          133
Gunther       133
Amy           119
Woman         112
Susan         105
Pete          103
Joshua         98
Gary           96
Eric           95
Elizabeth      94
Janine         92
Mona           92
Erica          92
Kathy          91
Mnca           87
Ursula         85
Jill           83
Rach           80
Ben            77
Name: count, dtype: int64

In [30]:
df['Speaker'].value_counts().tail(10)

Speaker
Cowgirl           1
Alex              1
Allison           1
Locksmith         1
Commercial        1
Narrator          1
Attendant         1
Boy               1
Emma              1
Paleontologist    1
Name: count, dtype: int64

In [33]:
df.to_csv("merged_transcripts3.csv", index=False)